*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:cursive;
    width: 100%;
    height: 100vh;
    
}

.cardBox{
    width: 1000px;
    height: 650px;
    background-color: rgb(219, 187, 146);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;


}
.cardFront{
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: #7a71f4;
    z-index: 787;
    border-radius: 12px ;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}



.card1{
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: #ff8c40;
    z-index: 2;
    transition: 0.3s all ease-in;
  
}
.card2{
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: #00ff80;
    z-index: 3;
        transition: 0.4s all ease-in;
}
.card4{
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: #d000ff;
    z-index: 3;
    transition: 0.4s all ease-in;
}


.card4{
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: #4a484e;
    z-index: 1;
       transition: 0.5s all ease-in;

}


.card6{
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: #fe64b4;
    z-index: 1;
        transition: 0.6s all ease-in;

}

.card7{
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: #fb3b3b;
    z-index: -3;
    
    transition: 0.7s all ease-in;

}

.card8{
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: #4df727;
    z-index: -4;
    
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition: 1s all ease-in;

}
.card{
    border-radius: 12px ;
    
   
}
/* 
@keyframes example {
    0%   {background-color:red; 
    25%  {background-color:yellow; }
    50%  {background-color:blue; }
    75%  {background-color:green; }
    100% {background-color:red; }
  } */

  @media (max-width: 700px)  {
   
    .cardBox{
        width: 100%;
        height: 100%;
        background-color: rgb(251, 255, 253);
    }
    
  }